<div class="radios-flex">
  Filter:
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      value="all"
      [(ngModel)]="selectedRadioButton"
      checked
      (change)="onRadioButtonChange()"
    />
    <label class="form-check-label" for="flexRadioDefault1">
      {{ " All (" + all + ") " }}
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      [(ngModel)]="selectedRadioButton"
      value="true"
      (change)="onRadioButtonChange()"
    />
    <label class="form-check-label" for="flexRadioDefault2">
      {{ " In Stock (" + inStock + ") " }}
    </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      [(ngModel)]="selectedRadioButton"
      value="false"
      (change)="onRadioButtonChange()"
    />
    <label class="form-check-label" for="flexRadioDefault2">
      {{ " Out of Stock (" + outOfStock + ") " }}
    </label>
  </div>
</div>
