<div class="card" style="width: 15rem">
  <button class="btn btn-primary" disabled>
    In Stock: {{ product.inStock }}
  </button>
  <img src="/assets/images/iphoneX.png" class="card-img-top" alt="img" />
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">{{ product.color }}</p>
    <div class="price-flex">
      <p class="card-text">
        <del>{{ "$" + product.price }}</del>
      </p>
      <p class="card-text">{{ "Now $" + getDiscountedPrice() }}</p>
    </div>
    <p>Your Cart Items: {{ product.yourCart }}</p>
  </div>
  <div class="flex-add-remove">
    <button
      class="btn btn-primary sm"
      [disabled]="!(product.yourCart > 0)"
      (click)="removeItemFromCart()"
    >
      -
    </button>
    <p>Add/Remove</p>

    <button
      class="btn btn-primary sm"
      [disabled]="!(product.inStock > 0)"
      (click)="addItemToCart()"
    >
      +
    </button>
  </div>
</div>
