<filter
  [all]="totalItems"
  [inStock]="inStock"
  [outOfStock]="outOfStock"
  (selectedRadioButtonOut)="onFilterChange($event)"
></filter>
<div class="container row">
  <div
    class="col-md-3"
    *ngFor="let item of productList"
    (click)="selectedProduct = item; showModal = true"
  >
    <div class="">
      <product
        #product
        [product]="item"
        [className]="'col-md-3'"
        *ngIf="item.name.toLowerCase().includes(searchText)"
        [showModal]="true"
        (click)="product.openModal()"
      ></product>
    </div>
  </div>
</div>
